@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    @apply font-bold   bg-gradient-to-r from-blue-700 to-purple-800 bg-clip-text text-transparent;
  }
  .contener-text {
    @apply p-4 rounded-lg shadow-md   text-gray-300 bg-opacity-80 ;
    background: linear-gradient(135deg, rgba(20, 4, 247, 0.07), rgba(235, 232, 236, 0.09));
  }
  .contener-text2 {
    @apply p-4 rounded-lg shadow-md   text-gray-300 bg-opacity-10 ;
    background: linear-gradient(135deg, rgba(20, 4, 247, 0.281), rgba(235, 232, 236, 0.295));
  }
  /* styles/globals.css */
.container-wrapper {
  min-height: auto; /* Full viewport height */
  background: linear-gradient(135deg, rgba(17, 0, 248, 0.13), rgba(235, 232, 236, 0.09));
  backdrop-filter: blur(3px); /* Blur effect */
border-radius: 4px; /* Light gray border */
  /* margin-top: 60px; */
  padding: 10px;
}


.langues{
  width: 100%;
}

.interese{
  width: 80%;
}
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
